@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
  background-color: #f7f7f7 !important;
  font-family: 'Epilogue' !important;
}

.blue-txt {
  color: #0066FF;
}

.blue-bg {
  background-color: #0066FF;
}

.logo-text {
  margin-left: 190px;
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.top-bar {
  margin-bottom: 30px;
}

.top-bar a:link{
  text-decoration: none;
}

.top-bar a:hover{
  color: white;
}

.top-bar a:visited{
  color: white;
}

.header {
  font-size: 36px;
  font-weight: bold;
  margin-left: 30px;
}

.blue-button {
  background-color: #0066FF !important;
  border-color: #0066FF !important;
  color: white !important;
  border-radius: 10px !important;
  width: 100% !important;
  height: 50px !important;
  font-weight: bold !important;
  margin-top: 20px;
}

.blue-button:hover {
  background-color: #004bbd !important;
  border-color: #004bbd !important;
}

/* Custom Scroll Bar */
/* width */
div.custom-scroll::-webkit-scrollbar {
  width: 15px;
}

/* Track */
div.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 200px;
}

/* Handle */
div.custom-scroll::-webkit-scrollbar-thumb {
  background: #0066FF;
  border-radius: 200px;
  position: relative;
}

/* Handle on hover */
div.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #004bbd;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #dfe9fa !important;
}

