@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
  background-color: #f7f7f7 !important;
  font-family: 'Epilogue' !important;
}

.blue-txt {
  color: #0066FF;
}

.blue-bg {
  background-color: #0066FF;
}