@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
  background-color: #f7f7f7 !important;
  font-family: 'Epilogue' !important;
}

.blue-txt {
  color: #0066FF;
}

.blue-bg {
  background-color: #0066FF;
}

.top-bar-text{
  color: white;
  font-size: 30px;
}

.top-bar-text:link{
  text-decoration: none;
}

.top-bar-text:hover{
  color: white;
}

.top-bar-text:visited{
  color: white;
}

.header {
  font-size: 36px;
  font-weight: bold;
  margin-left: 50px;
}

.blue-button {
  background-color: #0066FF !important;
  border-color: #0066FF !important;
  color: white !important;
  border-radius: 10px !important;
  width: 100% !important;
  height: 50px !important;
  font-weight: bold !important;
  margin-top: 20px;
}

.blue-button:hover {
  background-color: #004bbd !important;
  border-color: #004bbd !important;
}

.fade-button {
  background-color: #f8f8f8 !important;
  border-color: #8ab3f0 !important;
  color: #8ab3f0 !important;
  border-radius: 10px !important;
  width: 100% !important;
  height: 50px !important;
  font-weight: bold !important;
  margin-top: 20px;
}

.fade-button:hover {
  background-color: #8ab3f0 !important;
  border-color: #8ab3f0 !important;
  color: white !important;
}

.back-button {
  position: relative;
  left: 35px;
}

.next-button {
  position: relative;
  right: 35px !important;
}

/* Custom Scroll Bar */
/* width */
div.custom-scroll::-webkit-scrollbar {
  width: 15px;
}

/* Track */
div.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 200px;
}

/* Handle */
div.custom-scroll::-webkit-scrollbar-thumb {
  background: #0066FF;
  border-radius: 200px;
  position: relative;
}

/* Handle on hover */
div.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #004bbd;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #dfe9fa !important;
}

.progressContainer {
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 35px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: black;
  right: 0;
  left: 0;
  top: 0;
  font-size: 16px;
  font-weight: bold;
}

.circ-prog {
  position: relative;
  top: 8px;
  right: 10px;
  color: #0066FF !important;
}
