.career-card-text {
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
}

.career-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.name-cell {
    font-weight: bold;
}

.career-card {
    max-height: 650px;
    overflow-y: scroll;
    border-color: white !important;
}



