.course-node p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
}

.course-node {
    border: 1px solid #0066FF;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.course-node:hover {
    background-color: #dfe9fa;
}

.credits, .credit-header{
    text-align: center;
}

.courselist-card {
    max-height: 650px;
    overflow-y: scroll;
    border-color: white !important;
}

.courselist-card-text {
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
}

.courselist-card a:link {
    text-decoration: none;
    color: inherit;
}

.courselist-card a:visited {
    text-decoration: none;
    color: inherit;
}

.course-code, .course-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1em;
}

.prereqs, .reqfor {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.career {
    font-size: 16px;
    font-weight: bold;
}

.course-desc {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.assessment-header {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold
}

.assessment {
    font-size: 24px;
    font-weight: bold;
}

.button-row {
    margin-bottom: 50px;
    position: relative;
    bottom: 30px;
}

.tab-group {
    margin-bottom: 15px;
}

.course-tab {
    height: 30px;
}

.check-div {
    text-align: center;
}