/*Dashboard Blocks*/

.zoom {
    transition: transform .1s;
}

.zoom:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #2196F3;
}

.zoom:hover .block-title{
    color: white;
}

.zoom:hover .nav-block-icon{
    fill: white;
}

.block-title{
    padding-top: 30px;
    margin-bottom: 5px;
    color: #45494d;
    font-size: 18px;
}

/*Nav*/

.navbar{
    background-color: #2196F3;
    height: 60px;
}

.navbar-brand{
    margin-left: 20px;
}

/*Courses*/

.react-bootstrap-table {
    height: 100%;
    overflow: auto;
}

#search-bar-0{
    margin-bottom: 20px;
}

.add-course{
    width: 100%;
}

