/*Dashboard Blocks*/

.zoom {
    transition: transform .1s;
}

.zoom:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #2196F3;
}

.zoom:hover .block-title{
    color: white;
}

.zoom:hover .nav-block-icon{
    fill: white;
}

.block-title{
    padding-top: 30px;
    margin-bottom: 5px;
    color: #45494d;
    font-size: 18px;
}

/*Nav*/

.navbar{
    background-color: #2196F3;
    height: 60px;
}

.navbar-brand{
    margin-left: 20px;
    font-size: large;
}

/*Courses*/

.react-bootstrap-table {
    height: 100%;
    overflow: auto;
}

#search-bar-0{
    margin-bottom: 20px;
}

.add-course{
    width: 100%;
}

.jumbotron {
    background-color: #0d6efd;
    color: white;
}

.settings-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card .card-header{
    background-color: #0d6efd;
    color: white;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    display: block !important;
}

.rbc-toolbar-label{
    font-size: 35px;
    color: #0d6efd;
}

.react-bootstrap-table table { table-layout: auto !important; }

.react-bootstrap-table>table>thead>tr>th .filter-label {
    width: 100%
}

.table-bordered thead th{
    border-bottom: 2px solid #0d6efd !important;
    
}

.rbc-event, .rbc-day-slot .rbc-background-event{
    background-color: #0d6efd;
}

.jumbotron{
    padding-top: 0px;
    height: 20px;
    text-align: center;
}