.row-title {
    font-size: 24px;
    font-weight: bold;
}

.row-info {
    font-size: 24px;
    font-weight: bold;
}

.row-warning {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.details-card {
    border-radius: 45px !important;
    border-color: white !important;
    margin-bottom: 45px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.level-cell {
    text-align: center;
}

.new-student {
    font-size: 18px;
}

.edit-transcript {
    font-weight: bold;
    text-decoration: underline;
}

.edit-line:hover i, .edit-line:hover span {
    color: #004bbd;
    cursor: pointer;
}

.back-button-row {
    margin-top: 20px;
}